<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Counter</h1>
        <p>You have visited this page <%= counter %> times</p>
        <a href="/two">click here to add +2 to the counter</a><br><br>
        <a href="/reset">click here to reset the counter</a>
    </body>
</html>