<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Dog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Edit <%= dog[0].name %>!</h3>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
                <h3><%= errors[x].title %></h3>
            <% } %>
        <% } %>
        <form action="/dogs/<%= dog[0]._id %>" method="POST">
            Name of Pup: <input type="text" name="name" value=""><br><br>
            Name of Owner: <input type="text" name="owner" value=""><br><br>
            Breed: <input type="text" name="breed" value=""><br><br>
            Age: <input type="number" name="age" value=""><br><br>
            <input type="submit" name="submit" value="Edit Dog!">
    </body>
</html>